<script>
import axios from "axios"
export default {
    name: 'crypto-service',
    props: ['user', 'services'],
    data() {
        return {
            selectedGroup: null,
            selectedService: null,
            address: "",
            isLoading: false,
            status: '',
            response: null,
            error: false
        }
    },
    mounted() {
 
    },
    computed: {
        groups: function() {
            return Object.keys(this.services);
        },
        groupItems: function() {
            if (this.selectedGroup) {
                let services = this.services[this.selectedGroup]; 
                this.selectedService = services[0]["id"];
                return services;
            }
            return [];
        },
        responseData: function() {
            return this.response ? this.response.data : null;
        }
    },
    methods: {
        submit: function(e) {
            let self = this;
            self.error = false;

            self.isLoading = true;

            self.response = null;

            let url = '/cryptopress/api/service/' +
                        self.selectedService +
                        '/balance/' +
                        self.selectedGroup +
                        '/' +
                        self.address;

            axios
                .get(url)
                .then(function (response) {
                    self.isLoading = false;
                    self.response = response;
                })
                .catch(function (error) {
                    self.isLoading = false;
                    if (error.response && error.response.data){
                        self.error = true;
                    }
                });
        }
    }
}
</script>
<style lang="sass">
</style>
<template>
    <div class="vue-component">
        <div v-if="user && user.ID">
            Добро пожаловать, {{ user.display_name }}
        </div>
        <v-select v-model="selectedGroup" :options="groups"></v-select>
        <div v-show="groupItems.length > 0">
            <ul>
                <li v-for="item in groupItems">                    
                    <label><input class="radio" type="radio" name="service" :value="item.id" v-model="selectedService"> {{ item.name }}</label>
                </li>
            </ul>
            <div class="form-group">
                <input type="text" class="form-control" v-model="address" placeholder="Введите адрес кошелька">
            </div>
            <div class="form-group" v-show="address.length > 0">
                <button type="button" class="btn btn-info" v-bind:disabled="isLoading" v-on:click="submit">
                    <i v-show="isLoading">Получение ...</i><span v-show="!isLoading">Получить</span>
                </button>
            </div>
            <div class="form-group" v-if="responseData && responseData.success">
                Ваш баланс: {{ responseData.total }} BTC
                <p>
                    Последние транзакции:
                    <ul>
                        <li v-for="tx in responseData.transactions">  
                            <span>{{ new Date(tx.time) | moment("DD/MM/YYYY") }}</span> - {{tx.value}} BTC 
                        </li>
                    </ul>
                </p>
            </div>

            <div  class="form-group"v-if="error || responseData && !responseData.success">
                Ошибка при получении данных. Пожалуйста, воспользуйтесь другим сервисом или повторите попытку позже
            </div>
        </div>
    </div>
</template>